<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ScrollMagic Demo - The Basics

    link(rel="stylesheet", href="index.css")

  body

    #intro.w-100.p-3.mx-auto.d-flex.justify-content-center.align-items-center(style="height: 100vh;")
      .col-md-6.px-3.align-middle.text-center(style="height: auto;")
        h1 ScrollMagic Demo - The Basics

        p.lead 
          a.btn.btn-primary.font-weight-bold.border-red(target="_blank" href="https://github.com/codwerk") Codwerk

    #main
      .w-100.px-3.d-flex.justify-content-center.text-white(style="height: 100vh;background:linear-gradient(135deg, #039be5 0%, #01579b 100%)")
        .col-md-6.px-3.d-flex.flex-column.text-center.justify-content-center#projet-01(style="height: 100%;")
          .div-rond(style="height: 150px;width: 150px;border-radius: 100px;background-color:#ffffff;").mx-auto.mb-4
          h1.mb-4 Controller, Scene and triggerElement
          p.lead.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error reiciendis blanditiis cupiditate, sed tenetur vero.
          p.lead 
            a.btn.btn-primary.font-weight-bold.border-red(target="_blank" href="https://github.com/codwerk") Lorem
      
      .w-100.px-3.d-flex.justify-content-center.text-white(style="height: 100vh;background:linear-gradient(135deg, #01579b 0%, #039be5 100%)")
        .col-md-6.px-3.d-flex.flex-column.text-center.justify-content-center.projet#projet-02(style="height: 100%;")
          .div-rond(style="height: 150px;width: 150px;border-radius: 100px;background-color:#ffffff;").mx-auto.mb-4
          h1.mb-4 Each loop
          p.lead.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error reiciendis blanditiis cupiditate, sed tenetur vero.
          p.lead 
            a.btn.btn-primary.font-weight-bold.border-red(target="_blank" href="https://github.com/codwerk") Lorem


      .w-100.px-3.d-flex.justify-content-center.text-white(style="height: 100vh;background:linear-gradient(135deg, #01579b 0%, #039be5 100%)")
        .col-md-6.px-3.d-flex.flex-column.text-center.justify-content-center.projet#projet-03(style="height: 100%;")
          .div-rond(style="height: 150px;width: 150px;border-radius: 100px;background-color:#ffffff;").mx-auto.mb-4
          h1.mb-4 Each loop
          p.lead.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error reiciendis blanditiis cupiditate, sed tenetur vero.
          p.lead 
            a.btn.btn-primary.font-weight-bold.border-red(target="_blank" href="https://github.com/codwerk") Lorem


      .w-100.px-3.d-flex.justify-content-center.text-white(style="height: 100vh;background:linear-gradient(135deg, #01579b 0%, #039be5 100%)")
        .col-md-6.px-3.d-flex.flex-column.text-center.justify-content-center.projet#projet-03(style="height: 100%;")
          .div-rond(style="height: 150px;width: 150px;border-radius: 100px;background-color:#ffffff;").mx-auto.mb-4
          h1.mb-4 Each loop
          p.lead.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error reiciendis blanditiis cupiditate, sed tenetur vero.
          p.lead 
            a.btn.btn-primary.font-weight-bold.border-red(target="_blank" href="https://github.com/codwerk") Lorem
      


    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="node_modules/scrollmagic/scrollmagic/minified/ScrollMagic.min.js")
    script(src="node_modules/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js")
    script(src="index.js")