// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

#projet-01 {
  opacity: 0;
  //transform: translateY(100px);
  transition: all 1s ease-out;
}

#projet-01.fade-in {
  opacity: 1;
  //transform: translateY(0);
}